{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>FlashLearn</title>
    {% tailwind_css %}
</head>
<body class="bg-white/100 flex items-center justify-center min-h-screen">
    <nav class="fixed top-0 left-0 w-full bg-white shadow-md py-3 px-6 flex justify-between items-center z-50">
    
        <a href="" class="text-xl font-bold text-orange-600 hover:text-red-500">FlashLearn</a>
    
        
        <div class="space-x-6 hidden md:flex">
            <!-- <a href="#" class="text-gray-700 hover:text-orange-500">Sobre Nós</a> -->
        </div>
    
        <!-- Logout Button -->
        <div>
            {% if user.is_authenticated %}
                <!-- Exibe o nome do usuário e o botão de logout -->
                <span class="welcome-message">Olá, {{ user.username }}!</span>
                <a href="{% url 'logout' %}" class="inline-block px-6 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600">Sair</a>
            {% else %}
            <div class="space-x-4">
                <a href="{% url 'login' %}" class="inline-block px-6 py-2 bg-orange-500 text-white rounded-md hover:bg-orange-600">Login</a>
                <a href="{% url 'register' %}" class="inline-block px-6 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600">Registrar</a>
            </div>
            {% endif %}
        </div>
    </nav>
    <!-- Product Name -->
    <div class="text-center space-y-6">
        <h1 class="animate-pulse text-9xl font-bold text-orange-600">FlashLearn</h1>
    </div>
</body>
</html>